@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fjalla+One&family=Jost:ital,wght@1,300&family=Montserrat:wght@100&family=Noto+Sans:wght@100&family=Oswald:wght@200;300;400;500;600&family=Outfit:wght@500&family=Poppins:wght@300&family=Red+Hat+Display:wght@500&family=Roboto:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

/* TEXT */


/* NAVBAR */
.navbar{
    width: 100%;
    height: 10vh;
    background-color: lightslategrey;
    justify-content: space-around;
    align-items: center;
}

.info {
    gap: 10px;
    color: white;
}

.info h5 {
    font-weight: 400;
    font-size: 18px;
}

.logo {
    width: 50px;
    height: 100%;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
}

.logo-image img {
    width: 40px;
    overflow: hidden;
}

.donate button {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    color: lightslategrey;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* SECTION-01 */
.section-1 {
    width: 100%;
    height: 40vh;
    background-color: lightslategrey;
    flex-direction: column;
    align-items: center;
    color: white;
}

.heading-1 {
    width: 70%;
    height: 30%;
    text-align: center;
    padding-top: 40px;
    /* background-color: pink; */
}

.heading-1 h1 {
    font-size: 70px;
    font-weight: 400;
}

.paragraph-1 {
    width: 45%;
    height: 38%;
    /* background-color: aquamarine; */
    padding-top: 30px;
    text-align: center;
    font-size: 22px;
}

.video-1 {
    width: 30%;
    height: 10%;
    /* background-color: pink; */
    gap: 10px;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
}

.video-icon i{
    font-weight: 100;
}

/* SECTION-02 */
.section-2 {
    width: 100%;
    height: 40vh;
    margin-bottom: 40px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-2 {
    width: 35%;
    height: 50px;
    text-align: center;
}

.paragraph-2 {
    width: 35%;
    height: 100px;
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
    font-weight: 400;
}

/* SECTION-03 */
.section-3 {
    width: 100%;
    height: 80vh;
    background-color: rgb(142, 151, 160);
    justify-content: center;
    align-items: center;
}

.section-3-container {
    width: 70%;
    height: 80%;
    /* background-color: pink; */
    justify-content: space-evenly;
}

.info-classes {
    width: 48%;
    height: 100%;
    /* background-color: aquamarine; */
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.img-3 {
    width: 70%;
    height: 40%;
    /* background-color: lightgreen; */
    overflow: hidden;
    position: cover;
}

.img-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
}


.heading-3 {
    width: 80%;
    height: 10%;
    /* background-color: blueviolet; */
    text-align: center;
    font-size: 20px;
}

.paragraph-3 {
    width: 80%;
    height: 30%;
    /* background-color: lightyellow; */
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.button-3 {
    width: 80%;
    height: 10%;
    /* background-color: lightsalmon; */
    text-align: center;
}

.button-3 button {
    width: 40%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid black;
}

.button-3 button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.info-hire-us {
    width: 48%;
    height: 100%;
    /* background-color: rgb(148, 206, 186); */
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

/* SECTION-4 */
.section-4 {
    width: 100%;
    height: 50vh;
    /* background-color: pink; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.heading-4 {
    width: 50%;
    height: 12%;
    /* background-color: aquamarine; */
    text-align: center;
}

.paragraph-4 {
    width: 35%;
    height: 30%;
    /* background-color: lightcoral; */
    text-align: center;
    font-size: 18px;
}

.button-4 {
    width: 50%;
    height: 15%;
    /* background-color: aqua; */
    text-align: center;
}

.button-4 button {
    width: 40%;
    height: 100%;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
}

.button-4 button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* FOOTER-SECTION */
.footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(24, 39, 55);
    justify-content: center;
    align-items: center;
    color: white;
}

.section-5 {
    width: 90%;
    height: 85%;
    /* background-color: pink; */
}

.info-5 {
    width: 100%;
    height: 80%;
    /* background-color: aquamarine; */
    justify-content: space-between;
}

.info-box-1 {
    width: 15%;
    height: 100%;
    /* background-color: blueviolet; */
}

.social-icons {
    width: 100%;
    height: 30%;
    /* background-color: lightseagreen; */
    row-gap: 20px;
    justify-content: space-between;
    /* align-items: center; */
}

.social-icons i {
    font-size: 30px;
    /* color: white; */
}

.info-map {
    width: 100%;
    height: 30%;
    /* background-color: green; */
}

.info-heading h5 {
    color: lightslategrey;
}

.map-paragraph ul {
    justify-content: space-between;
    list-style: none;
}

.info-contribute {
    width: 100%;
    height: 30%;
    /* background-color: green; */
}

.contri-para ul {
    justify-content: space-between;
    list-style: none;
}



.info-box-2 {
    width: 15%;
    height: 100%;
    /* background-color: lightgreen; */
}

.address-1 {
    width: 100%;
    height: 40%;
    /* background-color: pink; */
}


.address-2 p  {
    font-weight: 300;
}

.address-2 a {
    color: white;
    padding-top: 20px;
}

.copywrite {
    width: 100%;
    height: 20%;
    /* background-color: bisque; */
    border-top: 2px solid white;
    justify-content: space-between;
    align-items: center;
}

.level-ground-logo img {
    width: 40px;
    overflow: hidden;
}